body {
    font-family: Arial, sans-serif;
    background: #ffe6f2;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: auto;
}

.hidden {
    display: none;
}

.foto {
    width: 250px;
    border-radius: 15px;
    margin-top: 10px;
}

/* Botón siguiente */
.btn {
    padding: 12px 25px;
    background: #ff0066;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.2rem;
}
.btn:hover {
    transform: scale(1.05);
}

/* PREGUNTA */
.respuesta {
    padding: 12px 25px;
    background: #ff4f81;
    border: none;
    color: white;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.respuesta:hover {
    transform: scale(1.05);
}

#pregunta h1 {
    margin-top: 40px;
    font-size: 2rem;
}

#respuestaTexto {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #ff0055;
}

/* ANIMACIÓN DE CORAZONES */
.corazon {
    position: fixed;
    color: #ff0066;
    font-size: 30px;
    animation: flotar 2s linear forwards;
    pointer-events: none;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px);
        opacity: 0;
    }
}
